body, html {
    font-family: 'Merriweather', serif;
    word-wrap: break-word;
}

#submit-home-button {

}

.submit-form-button {
    border: none;
    background: #F8F8F8;
    color: lightgrey;
}

::placeholder {
    color: lightgrey;
}

.description, .where {
    height: 20vh;
    width: 80vw;
    line-height: 20px;
    font-size: 100px;
    padding-left: 10px;
    background: #F8F8F8;
    color: lightgrey;
    border: none;
}

.where {
    font-weight: bold;
    font-style: oblique;
    color: #AAAAAA;
    margin-top: 4px;
}

.description {
    margin-bottom: 4px;
}


.at {
    font-size: 5.5vw;
    color: #AAAAAA;
}

#title {
    font-size: calc(1em + 4.7vmax);
    line-height: calc(0.6em + 3.8vmax);
    font-weight: bold;
    margin-bottom: 0px;
    //background: green;
}

.content-col {
    font-size: calc(0.6em + 1vw);
    line-height:calc(0.7em + 1.5vh + 1.5vw);
}

.date-row {
    font-size: calc(0.1em + 1vw);
    padding: 0 0 0 0;
    line-height: 10px;
}

.menu-row {
    font-size: calc(0.6em + 1vw);
}


@media (min-width: 576px) {
    #title {
            font-size:calc(2.8em + 3.6vw);
            line-height: calc(0.75em + 1.4vh + 2vw);
            //background: yellow;
    }
    .content-col {
        font-size:calc(0.7em + 2vw);
        line-height:calc(0.5em + 1vh + 1vw);
    }
}

@media (min-width: 992px) {
    #title {
        font-size:calc(1em + 4.5vw);
        line-height: calc(0.75em + 0.5vh + 1vw);
        //background: orange;
    }
    .content-col {
        font-size:calc(0.7em + 1vw);
    }

}

.content {
    font-size: 4em;
    line-height: 1.09em;
    color: lightgrey;
}

.arrow-col {
    font-size: 20px;
    line-height: 20px;
}

.arrow-col a {
    color: lightgrey;
}

.content-col a {
    color: darkgrey;
}

.company {
    font-weight: bold;
    font-style: oblique;
    color:#AAAAAA;
}

.menu-row {
    font-weight: bold;
    color: lightgrey;
    padding-top: .7em;
    padding-bottom: .5em;
}

.menu-row a {
    color: lightgrey;
    text-decoration: none;
}

.title-row {
    padding-top: 1em;
}

.sort {
    color: grey;
}

.up-arrow, .down-arrow {
    display: inline-block;
}

