/*html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}*/

.content {
    font-family: sans-serif;
    font-size: 4em;
    line-height: 0.9em;
    color: lightgrey;
    margin-bottom: 200px;
    overflow-x: hidden;
}

#submit-home-button {
    color: darkgrey;
}

.description, .where {
    font-color: purple;
    border-width: 3.5px;
    border-style: solid;
    border-color: black;
    height: 20vh;
    width: 50vmax;
    line-height: 20px;
    border-radius: 5px;
    font-size: 100px;
    padding-left: 10px;
}

::placeholder {
    color: lightgrey;
}

.description {
    margin-bottom: 4px;
}

.where {
    margin-top: 4px;
}



#title {
    font-size: calc(1em + 6.5vmax);
    line-height: calc(0.6em + 4vmax);
    font-family:sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    //background: green;
}

#at {
    font-size: 90px;
    line-height: 80px;
}


@media (min-width: 576px) {
    #title {
            font-size:calc(2.8em + 3.6vw);
            line-height: calc(0.75em + 1vh + 1.1vw);
            //background: yellow;
    }
}

@media (min-width: 992px) {
    #title {
        font-size:calc(1em + 4vw);
        line-height: calc(0.75em + 0.5vh + 1vw);
        //background: orange;
    }

}

.arrow-col {
    font-size: 20px;
    line-height: 20px;
}

.arrow-col a {
    color: lightgrey;
}

.content-col a {
    color: darkgrey;
}

.scroll {
    padding-left: 8px;
    padding-right: 0px;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
