{% extends "detail_base.html" %}

{% block head %}
<title>today@{{ company }}</title>
{% endblock %}

{% block content %}
<div class="row text-center title-row">
    <div class="col-12">
        <h1 id="title">interns @ <span class="company">{{company}}:</span></h1>
    </div>
</div>

<div class="row menu-row">
        <div class="col-6 text-left">
            <a class="rounded" href="/">home</a>{% if logged_in == False %}<a class="ml-2 rounded" href="/login">login</a>
        {% elif logged_in == True %}<a class="ml-2 rounded" href="/logout">logout</a>
        {% endif %}
    </div>
    <div class="col-6 text-right">
<!--        sort: <a class="rounded" href="/{{company}}/top">top</a><a class="ml-2 rounded" href="/{{company}}/new">new</a>-->
        sort: {% if sort == 'top' %}<a class="rounded" href="/{{company}}/top" style="color:#4f4f4f">top</a><a class="ml-2 rounded" href="/{{company}}/new">new</a>{% else %}<a class="rounded" href="/{{company}}/top">top</a><a class="ml-2 rounded" href="/{{company}}/new" style="color:#4f4f4f">new</a>{% endif %}
    </div>
</div>

<div class="row">
    <div class="col-12 pt-3">
        <div class="content">
            {% for instance in object_list %}
            <div class="row">
                <div class="col-1 mt-3 arrow-col">
                    {% csrf_token %}
                    <p name="{{instance.pk}}"><span name="up" class="up-arrow rounded">&uarr;</span><br><span name="down" class="down-arrow rounded">&darr;</span><br><span class="votes">{{ instance.vote_score }}</span></p>
                </div>
                <div class="col-11">
                    <p class="pb-0 mb-2 content-col">{{ instance.description }}</p>

                    <div class="row date-row">
                        <div class="col-12 text-right mb-4">
                            {{ instance.created_at }}
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}

