{% extends "base.html" %}

{% block content %}
<div class="row menu-row">
    <div class="col-6 text-center">
        <a id="submit-home-button" href="/submit">submit</a> , <a href="/shop">shop</a> ,
        {% if logged_in == False %}
            <a href="/login">login</a>
        {% elif logged_in == True %}
            <a href="/logout">logout</a>
        {% endif %}
    </div>
    <div class="col-6 text-center">
        sort: <a href="/top">top</a> , <a href="/new">new</a>
    </div>
</div>


<div class="content">
    {% for instance in object_list %}
    <div class="row">
        <div class="col-1 mt-3 arrow-col">
            {% csrf_token %}
            <p name="{{instance.pk}}"><span name="up" class="up-arrow rounded">&uarr;</span><br><span name="down" class="down-arrow rounded">&darr;</span></p>
        </div>
        <div class="col-11">
            <p class="pb-0 mb-2 content-col">{{ instance.description }} @ <a class="company" href="company/{{ instance.where }}">{{ instance.where }}</a></p>

            <div class="row date-row">
                <div class="col-12 text-right mb-4">
                    {{ instance.created_at }}
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>

<script>
    $(document).ready(function() {

        function isTouchDevice() {
            return 'ontouchstart' in document.documentElement;
        }

        if (isTouchDevice()) {
            $(".up-arrow, .down-arrow").click(function () {
                var pk = $(this).parent().attr("name");
                var which = $(this).attr("name");
                console.log(pk);
                console.log(which);

                var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
                $.post('.', {
                    item_pk: pk,
                    item_vote: which,
                    csrfmiddlewaretoken: CSRFtoken
                })
            }).on("touchstart", function() {
                $(this).css({"background":"#F8F8F8", "cursor":"pointer"})
            }).on("touchend", function() {
                $(this).css({"background":"white"})
            })
        } else {
            $(".up-arrow, .down-arrow").click(function () {
                var pk = $(this).parent().attr("name");
                var which = $(this).attr("name");
                console.log(pk);
                console.log(which);

                var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
                $.post('.', {
                    item_pk: pk,
                    item_vote: which,
                    csrfmiddlewaretoken: CSRFtoken
                })

            }).on("mouseover", function() {
                $(this).css({"background":"#F8F8F8", "cursor":"pointer"})
            }).on("mouseleave", function() {
                $(this).css({"background":"white"})
            })
        }
    })
</script>

{% endblock %}

