{% extends "base.html" %}

{% block content %}
<div class="row menu-row">
    <div class="col-6 text-left">
        <a class="rounded" id="submit-home-button" href="/">home</a>
    </div>
</div>



<div class="content">
    <div class="row">
        <div class="col text-center login-text">
            login with:
        </div>
    </div>
    <div class="row fixed-bottom pb-2">
        <div class="col text-center login-text">
            (all posts are anonymous, no data is/will ever be shared)
        </div>
    </div>
<!--    <form>-->
<!--        <div class="form-group row justify-content-center">-->
<!--                <div class="col-6">-->
<!--                    <label for="userEmail" class="form-label-sm">email</label>-->
<!--                    <input type="email" class="form-control" id="userEmail" placeholder="email">-->
<!--                </div>-->
<!--        </div>-->
<!--        <div class="form-group row justify-content-center">-->
<!--                <div class="col-6">-->
<!--                    <label for="userPass">password</label>-->
<!--                    <input type="password" class="form-control" id="userPass" placeholder="password">-->
<!--                </div>-->
<!--        </div>-->
<!--        <div class="form-group row justify-content-center">-->
<!--            <div class="col-6 text-center">-->
<!--                <button type="submit" class="btn btn-light">Submit</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->

<!--    <div class="row">-->
<!--        <div class="col-12 text-center or">-->
<!--            or-->
<!--        </div>-->
<!--    </div>-->


    <div class="row text-center mt-2">
        <div class="col-12 login">
            <div class="row justify-content-center login-row">
                <div class="col-4 rounded login-type">
                    <a href="{% url 'social:begin' 'facebook' %}">facebook</a>
                </div>
            </div>
            <div class="row justify-content-center login-row">
                <div class="col-4 rounded login-type">
                    <a href="{% url 'social:begin' 'instagram' %}">instagram</a>
                </div>
            </div>
            <div class="row justify-content-center login-row">
                <div class="col-4 rounded login-type">
                    <a href="{% url 'social:begin' 'twitter' %}">twitter</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

