{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row menu-row">
    <div class="col-12 text-center">
        <a id="submit-home-button" href="/">home</a> , <a href="/shop">shop</a>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-3 submit-form text-center">
        <form method="POST"> {% csrf_token %}
            <div class="form-group">
                {{ object_list|crispy }}
                <input type="submit" class="submit-form-button mt-3 rounded" value="save">
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".description").after("<div class='row'><div class='col-12 text-center at'>@</div></div>")
    })
</script>
{% endblock %}

