{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row menu-row">
    <div class="col-6 text-left">
        <a class="rounded" id="submit-home-button" href="/">home</a>{% if logged_in == False %}<a class="ml-2 rounded" href="/login">login</a>
        {% elif logged_in == True %}<a class="ml-2 rounded" href="/logout">logout</a>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-12 mt-3 submit-form text-center">
        <form method="POST"> {% csrf_token %}
            <div class="form-group">
                {{ object_list|crispy }}
                <input type="submit" class="submit-form-button mt-3 rounded" value="save">
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".description").after("<div class='row'><div class='col-12 text-center at'>@</div></div>")
        $(".menu-row").find("a").on("mouseover", function() {
                $(this).css({"background":"#F8F8F8", "cursor":"pointer"})
            }).on("mouseleave", function() {
                $(this).css({"background":"white"})
            })
    })
</script>
{% endblock %}

